<div class="center jumbotron">

  <h1> Mo Blog </h1>

<%= link_to 'Sign Up Now!', 'a', class: 'btn btn-primary btn-lg btn-xlarge'  %>


<%#= link_to 'contact', contact_path %>


<%#= link_to 'team', team_path %>

</div>